*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f4f7fb;
color:#333;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 30px;
background:#2563eb;
}

.logo{
color:white;
font-size:24px;
font-weight:bold;
}

.nav-links{
display:flex;
list-style:none;
}

.nav-links li{
margin-left:20px;
}

.nav-links a{
color:white;
text-decoration:none;
font-weight:500;
}

.hero{
height:80vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:
linear-gradient(
rgba(0,0,0,.4),
rgba(0,0,0,.4)),
url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f");
background-size:cover;
color:white;
}

.hero-content h1{
font-size:50px;
margin-bottom:20px;
}

.btn{
background:#f59e0b;
color:white;
padding:12px 20px;
display:inline-block;
margin-top:15px;
text-decoration:none;
border-radius:5px;
}

.stats{
display:flex;
justify-content:center;
gap:20px;
padding:40px;
}

.stat-card{
background:white;
padding:30px;
width:250px;
text-align:center;
box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.cards{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:40px;
}

.card{
background:white;
padding:20px;
box-shadow:0 3px 10px rgba(0,0,0,.1);
border-radius:10px;
}

.card:hover{
transform:translateY(-5px);
}

footer{
background:#2563eb;
color:white;
text-align:center;
padding:20px;
}

#topBtn{
position:fixed;
bottom:20px;
right:20px;
padding:10px;
display:none;
}
.dark{
background:#121212;
color:white;
}

.dark .card{
background:#1e1e1e;
color:white;
}
.year-buttons{
display:flex;
flex-wrap:wrap;
gap:15px;
margin-top:20px;
}

.year-buttons .btn{
background:#2563eb;
color:white;
padding:12px 20px;
text-decoration:none;
border-radius:8px;
font-weight:bold;
transition:0.3s;
}

.year-buttons .btn:hover{
background:#14b8a6;
transform:translateY(-3px);
}